@import url("https://fonts.googleapis.com/css?family=Varela + Round");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 675px;
  width: 320px;
  font-family: "Roboto", sans-serif;
  text-align: justify;
  overflow: hidden;
}

.premièrepage img {
  z-index: -10;
  width: 428px;
  height: 926px;
  overflow: hidden;
}

.logo img {

  position: absolute;
  margin-top: -150%;
  margin-left: 10%;
  align-items: center;
  z-index: 10;
  width: 75px;
  height: 75px;
}

.logo H1 {
position: absolute;
z-index: 10;
left: 37.73%;
right: 4.76%;
top: 30.43%;
bottom: 15.22%;
font-size: 32px;
line-height: 38px;
}